[2014-10-19 19:10] JuanitoFatas opened #2 "Checking start/end of string"
https://github.com/rails/rails/pull/17316

[2014-10-20 15:06] #2 closed, assigned to nobody

[2014-10-22 03:09] JuanitoFatas opened #5 "Expand README with Ruby version and AS core."
Background #4

Include the ruby version for the timings in the README. Also maybe expand into some variants using popular core extensions provided by ActiveSupport.

[2014-10-23 21:06] gogainda opened #6 "Add an article about hash injection"
http://andycroll.com/ruby/benchmarking-each_with_object-against-inject-when-building-hashes-from-arrays/

[2014-10-27 17:17] JuanitoFatas opened #8 "Update with new slide content"
The slide has been updated recently.

[2014-12-30 00:19] Asmod4n opened #11 "Hash#compare_by_identity is missing"
When you only use symbols as keys for a hash you gain ~23% faster lookups by using Hash#compare_by_identity.

[2015-01-17 16:07] JuanitoFatas commented on #8
somehow did not find anything new in the slide, close this.

[2015-01-17 16:07] #8 closed

[2015-01-17 16:45] JuanitoFatas opened #16 "Automate the README generation."
- [ ] Add a script to append `[link]` to each idiom like following image.

  <img width="359" alt="screenshot 2015-08-07 13 39 09" src="https://cloud.githubusercontent.com/assets/1000669/9129384/b56a3aa0-3d09-11e5-93fb-b8337ded3c2b.png">

[2015-02-01 08:38] JuanitoFatas opened #19 "Export benchmarked data into json"

[2015-02-17 06:10] nurettin commented on #19
This could be used as an extension to RubyMine that provides context-sensitive tips for better performance

[2015-02-25 10:33] janko-m opened #22 "Methods defined with `define_method` are slower to call"
While `define_method` indeed defines methods slighly faster than `module_eval`, I think it should be noted that *calling* methods defined with `define_method` is slower than `module_eval` ones (because `define_method` creates a closure):

[code]
[code]

[2015-02-25 10:56] DamirSvrtan commented on #22
Hey @janko-m thnx for this! Would you be interested in submitting this issue to https://github.com/JuanitoFatas/fast-ruby. I've taken examples from there and would kinda like to keep in sync with that repo!

[2015-02-25 11:33] ninkibah opened #23 "Needs an article on JRUBY vs MRI"
I'm running the benchmarks under JRUBY. I will analyse the results and compare them with MRI, because the community needs to know if some of the recommendations for MRI are bad for JRuby code and vice versa.

Can I add a Wiki page? Would that be the best?

[2015-02-25 12:37] nning opened #24 "Block vs. Symbol#to_proc"
[Your example shows that the Block variant is slower.](https://github.com/JuanitoFatas/fast-ruby#block-vs-symbolto_proc-code) I remembered measuring the allegedly same with different results, so I looked again at the code files. Turns out I used an Array instead of a Range.

If I change the Range to an Array in [line 3 of `code/proc-and-block/block-vs-to_proc.rb`](https://github.com/JuanitoFatas/f

[2015-02-25 13:47] JuanitoFatas commented on #23
Hi Jonathan!

Thanks so much for taking your time writing this issue. I am not familiar with JRuby but would love to learn from you. Please do write a Wiki page then we can link from README as a start.

Thanks again! :smile:

/cc @headius

[2015-02-25 15:04] JuanitoFatas commented on #24
Hallo @nning,

Could you show me the code you run with above result? On my machine Symbol#to_proc is faster with range and array.

[code]

[code]

with range:

[code]

with array:

[code]

Danke :smile:

[2015-02-25 15:19] nning commented on #24
Oh, never mind... :smile:
In a hurry, I forgot the `*` in `ARRAY = [*1..100]`.

[2015-02-25 15:19] #24 closed

[2015-02-25 15:37] JuanitoFatas commented on #19
Nice! How do I create these tips for RubyMine?

[2015-02-25 15:38] JuanitoFatas commented on #24
@nning Thanks for checking in! :+1: :beers:

[2015-02-26 02:39] JuanitoFatas opened #27 "Update all examples and results for fast comes first"
[code]

Since `x.compare!` will show fast then slow, this may have a better reading experience when reading README IMO. Also document in CONTRIBUTING.md for people who submit new entry.

[2015-03-02 13:24] JuanitoFatas commented on #19
[benchmark-ips now can export json](https://github.com/evanphx/benchmark-ips/pull/29).

[2015-03-02 13:25] JuanitoFatas commented on #23
Done by [JRuby Performance results](https://github.com/JuanitoFatas/fast-ruby/wiki/JRuby-Performance-results).

[2015-03-02 13:25] #23 closed

[2015-03-03 17:20] headius commented on #23
:+1:

[2015-03-05 14:08] vladimirich opened #29 "Not correct comparing"
I consider it's not correct to compare bsearch with find on sorted array. There will be not so much difference between searching in shuffled array.

[2015-03-05 14:25] edbond commented on #29
bsearch doesn't work for shuffled array:

[code]

[2015-03-05 14:28] edbond commented on #29
From docs http://ruby-doc.org//core-2.1.5/Array.html#method-i-bsearch

This article also states this:
https://blog.engineyard.com/2015/five-ruby-methods-you-should-be-using

[2015-03-05 14:51] vladimirich commented on #29
I agree with u, but in this case bsearch and find comparing makes no sence. In worst case bsearch will take much more time then find. It should be pointed in readme I think

[2015-03-05 15:53] edbond commented on #29
I wouldn't say *much* worse if we compare worst case for find and bsearch:

Worst for bsearch (find element 1):
[code]

Now make it worst for find:
[code]

see http://bigocheatsheet.com/#searching

[2015-03-06 11:16] vladimirich commented on #29
I meant that this benchmark is fair enough only for sorted arrays and it will be great if you will point it in readme. There're tons of coders who will use bsearch against find in any cases after reading your benchmarks.

[2015-03-28 16:52] novokshonovi opened #34 "Add array << vs push benchmark"
Add array << vs push benchmark

[2015-03-28 22:38] gogainda commented on #34
just done simple test, these methods seem identical concerning time measurements

[2015-03-29 19:31] JuanitoFatas commented on #34
For pushing single element, `<<` can be slightly faster than `push`. Maybe not worth documented. Thanks for opened this issue, and thanks @gogainda's comment.

[2015-03-29 19:31] #34 closed

[2015-04-08 22:36] tjchambers opened #35 "taking issue with Hash#fetch with argument vs Hash#fetch + block code"
I have a bit of an issue with the

Hash#fetch with argument vs Hash#fetch + block code example.

My issue is that in order for the call to fetch NOT using the block to take place, the second argument needs to be evaluated. Depending on the complexity of the second argument ([*1.100]), you can get HIGH degree of variation in performance. An example like creating a new large array object, vs. a simp

[2015-04-09 05:51] #35 closed

[2015-04-09 05:52] JuanitoFatas commented on #35
I think your arguments makes sense. Thanks for taking time to bring this up <3 <3 <3

[2015-04-11 00:19] jackquack commented on #29
Wow. I came here to post about a thought I had that maybe using a smaller array would tilt things in favour of find, but when I tested it, bsearch still blows find away! Amazing!

[2015-04-11 02:28] #29 closed

[2015-04-11 02:37] JuanitoFatas opened #36 "Fix warning from code/general/assignment example on Travis"
https://travis-ci.org/JuanitoFatas/fast-ruby/jobs/58037357

[code]

[2015-05-20 17:05] mnarayan01 opened #39 "Hash#fetch with argument vs Hash#fetch + block"
This one seems a bit misleading. Simply switching the default to e.g. a symbol or constant-defined string makes both versions perform essentially identically (the argument version is actually slightly faster).

The difference in the current version is (AFAIK) exclusively due to the time taken to allocate the string (which is elided in the block version). This makes the displayed time comparison qu

[2015-05-20 17:10] mnarayan01 commented on #39
Also I guess it's worth noting that if the `fetch` misses, the argument version is always faster.

[2015-05-20 18:37] ixti commented on #39
@mnarayan01 Difference in those two forms is that in case of:

[code]

you are creating two `String` objects always, while in case of

[code]

one `String` is created, and second one created only if Hash has no such key.

So, of course if your default value is a constant, block-less form is a pure win:

[code]

[2015-07-10 13:13] gogainda opened #43 "Add comparison from this article"
http://blog.honeybadger.io/how-openstruct-and-hashes-can-kill-performance/?utm_source=rubyweekly&utm_medium=email

[2015-07-20 08:35] xjyjp opened #45 "Suggestion! Add comment on each example why one method is faster than another"
Hi, JuanitoFatas. Thank you very much for your repo and I get a lot from it. The benchmarks can show which method is much faster clearly. However, I think if we add some comments to explain why it is much faster than another. How ruby implement the method in the source. I think that it would be much better to help users to understand it. Of course, I would like to help in this process.

[2015-07-30 19:33] gogainda opened #48 "Compare array.any and !array.empty?"
https://github.com/rails/rails/commit/f8e81d41200d9310c95dd397d65f745aa6f45d3a

[2015-07-30 19:53] edbond commented on #48
I have created a pull request #49

[2015-08-05 10:49] willbryant opened #53 "ends_with? advice incorrect"
The following text in the regex vs. starts_with?/ends_with? bit (which has a ! next to it) is flatly incorrect:

[code]

`error.path.end_with?('.rb', ‘’)` is equivalent to `error.path.end_with?(‘’)` which always returns true and is therefore useless.  In addition, the combination of starts_with? and ends_with? does not test that nothing else is between `path` and the end except `.rb` like the rege

[2015-08-05 14:17] michaelmior opened #54 "Enumerable#reverse_each.detect is even faster than Enumerable#reverse.detect"
This also avoids an extra array allocation for `#reverse`

[code]

[code]

[2015-08-07 13:26] JuanitoFatas commented on #39
@ixti Thanks for your explanations! :musical_note:

@mnarayan01 Thank you for bringining this! Does @ixti's reply clear your concerns? Do you have suggestions on improving [current example code](https://github.com/JuanitoFatas/fast-ruby/blob/master/code/hash/fetch-vs-fetch-with-block.rb)? Thanks! :bow:

[2015-08-08 05:37] fremn opened #63 "enumerable sort vs sort_by"
noticed that in the test for **enumerable sort  vs sort_by**  `sort_by` uses `symbol.to_proc` while `sort` uses a block. wouldn't this effect the results since another tests shows symbol to proc is faster than block?

[2015-08-10 19:08] Aqualon opened #64 "string/concatenation.rb tests are misleading"
Hi, the tests in `string/concatenation.rb` are quite misleading.

The fast method consists of this
[code]
That's not concatenating during calling of `fast` but on parsing the code. If you write another method just returning `foobar`, it is as fast as this method.

So I think this is not fair comparison and what you usually want is to concatenate two variables during runtime.

For this use case `co

[2015-08-10 20:44] mblumtritt commented on #64
:+1:

[2015-08-11 16:23] #39 closed

[2015-08-12 15:18] ixti commented on #39
@JuanitoFatas yeah, I guess link to this issue is the simplest way :D Thanks!

[2015-08-13 03:34] #36 closed

[2015-08-13 05:33] mnarayan01 commented on #39
Yea think it's perfect now. :+1:

[2015-08-17 14:42] rjnienaber opened #69 "JRuby warmup"
This was sort of touched upon in #23 in the sense that JRuby may end up doing something different from MRI. The one major problem I see with these benchmarks is they don't include a warm up phase which the JVM sometimes uses for optimisation. There are potentially [other things](http://stackoverflow.com/a/513259) that we would want to enable specifically for JRuby.

[2015-08-17 14:42] amencarini opened #70 "&method(...) section misleading"
I found the &method(...) section a bit misleading, as I never found myself writing code that way, but alarmed me as I use `Symbol#to_proc` a lot. So I ran a different benchmark:

[code]

Although I later found something targeting specifically `to_proc` I think it's worth making it clear that we're not talking about `Symbol#to_proc` syntax here. Thoughts?

[2015-08-20 15:05] JuanitoFatas commented on #70
Hi! `&method` & `Symbol#to_proc` are different.  Please see the explanations here: https://github.com/JuanitoFatas/fast-ruby/commit/cf64ab7e51bab12e4daf5956f2a7e93ace7665a4#commitcomment-12068179. Hope this helps.

[2015-08-20 15:07] JuanitoFatas commented on #69
Hi! I have no experience with JRuby but would love to see some optimisations pre-configured for JRuby. Does JRuby optimisations affects MRI? If not we can add those optimizations and make it fair for JRuby. Feel free to open pull request for this, thanks so much!

[2015-08-20 15:24] JuanitoFatas commented on #64
Hi @Aqualon, I took `"foo" "bar"` example from https://github.com/rspec/rspec-core/blob/34c2c750c48cf880b7194e3e295236afd92c0ca8/lib/rspec/core/configuration.rb#L147-L151, also see http://thepugautomatic.com/2015/01/backslashy-ruby/#comment-1780720281.

--

Maybe this just a bad naming, do you have better name for [current example](https://github.com/JuanitoFatas/fast-ruby/blob/master/code/string/

[2015-08-20 15:29] JuanitoFatas commented on #63
In [sort example code](https://github.com/JuanitoFatas/fast-ruby/blob/b5ea35c45c83fe31045bed675d6dea8b64aec655/code/enumerable/sort-vs-sort_by.rb#L8-L10):

[code]

I don't know how to make `sort` example in `Symbol#to_proc` form. So have to use `sort` this way to archieve same result with `sort_by`.

[2015-08-20 15:31] JuanitoFatas commented on #54
`reverse_each` vs `reverse.each` already been covered by [this example](https://github.com/JuanitoFatas/fast-ruby#enumerablereverseeach-vs-enumerablereverse_each-code). So I did not include here. Feel free to include this one with a Pull Request, thank you! @michaelmior

[2015-08-20 15:31] #54 closed

[2015-08-20 15:38] JuanitoFatas commented on #48
Discussion moved to #49. Thanks!

[2015-08-20 15:38] #48 closed

[2015-08-20 15:40] fremn commented on #63
yeah i don't think you can change `sort` but `sort_by` maybe
[code]

[2015-08-20 15:51] JuanitoFatas commented on #63
I added e20d448 for fair comparison. Thanks for bring this up! :+1:

[2015-08-20 15:51] #63 closed

[2015-08-20 15:52] fremn commented on #63
you're welcome

[2015-08-20 16:03] michaelmior commented on #54
True. It just seems odd to use something which is explicitly shown elsewhere to be slower.

[2015-08-20 16:44] rjnienaber commented on #69
I don't think so. The optimisations talked about in that StackOverflow post are specific to the JVM. I'll see what I can do.

[2015-08-21 19:33] michaelachrisco opened #71 "each with index vs while loop returning different values"
From: https://github.com/JuanitoFatas/fast-ruby/blob/master/code/enumerable/each_with_index-vs-while-loop.rb
In the example code, the return types are returning different objects and may be effecting the overall Benchmarking time. I came across this in another gem. I'll be adding code to see if this is true or not.
[code]

[2015-08-21 19:44] michaelachrisco commented on #71
The issue, I believe, is that `each with index vs while` are fundamentally different. The while loop is adding the `ARRAY[index] + index` and then returns nil whereas  `ARRAY.each_with_index` adds the newly created `index` and the `number` then returns the initial array. If this test is to be identical, the return value needs to be the initial `ARRAY`.

I know this is a small nitpick but l will ad

[2015-08-22 09:55] #71 closed

[2015-08-22 09:55] JuanitoFatas commented on #71
:+1:

[2015-12-10 23:08] jrunning opened #80 ""begin...rescue vs respond_to? for Control Flow""
https://gist.github.com/jrunning/0e18236c6363af15c520

[2015-12-10 23:21] jrunning opened #81 ""begin...rescue vs respond_to? for Control Flow" inaccurate if method exists"
The section ["`begin...rescue` vs `respond_to?` for Control Flow"](https://github.com/JuanitoFatas/fast-ruby#beginrescue-vs-respond_to-for-control-flow-code) is correct when the receiver does not respond to the method (because rescuing an exception is expensive), but when the receiver *does* respond to the method the `begin...rescue` idiom is much faster—in my tests about 15x faster.

You can see

[2015-12-16 06:13] jzakiya opened #82 "x.between?(a,b) is faster (MRI 2.2.3)"
require "benchmark/ips"
require "date"

BEGIN_OF_JULY = Date.new(2015, 7, 1)
END_OF_JULY = Date.new(2015, 7, 31)
DAY_IN_JULY = Date.new(2015, 7, 15)

Benchmark.ips do |x|
  x.report('range#cover?') { (BEGIN_OF_JULY..END_OF_JULY).cover? DAY_IN_JULY }
  x.report('range#include?') { (BEGIN_OF_JULY..END_OF_JULY).include? DAY_IN_JULY }
  x.report('range#member?') { (BEGIN_OF_JULY..END_OF_JULY).member?

[2015-12-16 16:01] ixti commented on #45
:+1:

[2015-12-16 16:10] ixti opened #83 "Hash fetch with symbols vs strings."
Description is not really correct. Difference between `:symbol` key and `"string"` keys is that Symbols are immutable constants, while in case of using a String key you creating that string over and over again. Starting with Ruby 2.1, you can mark string as frozen and it will be created only once:

[code]

See:
- https://github.com/JuanitoFatas/fast-ruby#hash-vs-hashfetch-code
- https://github.com

[2015-12-16 16:17] ixti commented on #83
Oh. I'm sorry. Didn't read [article mentioned in description](http://www.sitepoint.com/unraveling-string-key-performance-ruby-2-2/) to the bottom. It actually mentions `.freeze` and some more info.

[2015-12-16 16:18] #83 closed

[2015-12-16 16:18] ixti commented on #83
Note for myself: read linked articles from the top to the bottom before giving any advices :D

[2015-12-16 16:26] JuanitoFatas commented on #83
Not at all! Thanks for opening this issue.

[2016-01-12 17:51] douglascamata opened #92 ""case...when" VS hash"
I would love to see a fair comparison between "case...when" and hashes in cases like this:

[code]

[2016-01-12 18:17] gogainda commented on #92
hash is fastes, case is linear, hash is presumably O(1)

[2016-01-12 19:27] ixti commented on #92
What do you mean by fair comparison? In your snippet function2 will be much much slower as you are creating Hash object every time.

[2016-01-12 22:28] douglascamata commented on #92
@ixti I think that will depend on how many comparisons you do in the first function. What you think about this?

[2016-01-12 23:57] ixti commented on #92
@douglascamata I really can't answer this question. Benchmarking of your functions with moving one/two Hash map into a constant says that `MAPPING[param]` is 1.2x slower than case statement.

If I understand correctly on huge amount of keys both variants will perform equally.
In any case comparison is pretty strange. when it's a constant mapping - i would go with hash, if it contains computable re

[2016-01-17 17:24] gogainda opened #93 "Implement #map#to_h vs #each_with_object"
https://medium.com/@vincedevendra/transforming-hashes-which-way-is-best-8f2122577984#.axqpinbeb

[2016-01-20 21:02] monfresh commented on #24
It looks like this also depends on what the array contains. If you compare mapping the length of strings in an array, the block version is faster:

[code]

[code]

[2016-01-21 12:34] radarek opened #94 "Parallel assignment is equal to sequential assignment"
This one is probably the most confusing benchmark I've ever seen. Original idea was that sequential assignment is faster than parallel (https://speakerdeck.com/sferik/writing-fast-ruby?slide=45). Later @charliesome found (https://github.com/JuanitoFatas/fast-ruby/pull/50) that this benchmark was incorrect because Ruby creates new array with all variables when parallel assignment is last expression

[2016-01-21 13:03] nateberkopec commented on #94
Thank you for this! I never considered the impact of the `trace` instruction on microbenchmarks, thank you for putting all of this research together.

At this microbenchmarking scale, perhaps we should be disabling `trace` instructions more often.

I agree that this repository could do a better job of this.

Just a couple of speed freaks working on this in our spare time mate :+1:

[2016-01-24 21:20] radarek opened #95 "Remove "raise vs E2MM#Raise" benchmark from repository"
It's nice that someone found that this library is so slow but I think most Ruby devs don't know that e2mmap even exists (actually I learned about this library from this repo). IMHO it would be better to not tell other developers that it exists. I even grepped all gems from ~/.rbenv/ (more that 2000 gems)  and only rdoc & yard gems use it (actually they include file [ruby_lex.rb](https://github.com

[2016-01-24 21:25] nateberkopec commented on #95
:+1: I've never heard of it, but I wasn't around when it was merged so I dunno the reasoning.

[2016-01-25 10:17] radarek opened #96 "Some benchmarks are measured with wrong methodology"
### How to measure atom with a ruler?

**tl;dr** When we measure small things we have to remove all overheads which have impact. Wrapping with a method and block call is quite big overhead for most of benchmarks in this repository.

Suppose you want compare performance of "2 + 3" vs "2 * 3" calls. If you do it with a methodology used in this repository you will get this results:

[code]

(simplifi

[2016-01-25 11:39] radarek commented on #96
**tl;dr** Some benchmarks have other overhead. For example `call vs send vs method_missing` claims that send is only 1.14x slower and method_missing 1.42x slower than direct call. After removing all overheads we ended up with a result saying that send is 2.48x slower and method_missing 4.73x slower.

Another thing is that some benchmarks adds even more overhead. Let's consider `call vs send vs met

[2016-01-25 12:18] nateberkopec commented on #96
:clap: This is great work! I'll wait for the other collaborators to weigh in here, but I think this is great research. PRs welcome with these changes.

[2016-01-25 12:21] nateberkopec commented on #94
After thinking about this some more, I'm not sure why we should disable trace instructions when 99% of production Rubies will have them enabled. Shouldn't we be comparing 1-1 against most people's Ruby production settings? @radarek your thoughts?

[2016-01-25 13:04] radarek commented on #94
I woulnd't disable it too. The point of my comment was that we shouldn't tell people that sequential assignment is slower than parallel. If we would do that then we should tell them also that code in multiple lines is slower than the same code in one line. It would be stupid of course ;-). I think this benchmark should be simply deleted. I don't think any real world code suffers from parallel vs s

[2016-01-25 13:31] radarek commented on #94
One more note about this benchmark. When I did this research I also checked how many local variables are used in "average" method (I used `ripper` library to do that). I analyzed all 774 gems from `~/.rbenv/gems/2.2.0/gems/` directory (over 40k files). And here is the histogram:

[code]

Even if we remove `0` entry (we don't care about method which don't use local variables) we see that 93% of a m

[2016-01-25 15:11] nateberkopec commented on #94
Right, now I understand.

That's true. I think you make a good case, the benchmark should be removed.

We need a better policy on what constitutes a big enough difference to matter, especially, as you've pointed out, several of the benches suffer from simply measuring unrelated things like assignment, number of lines, etc.

[2016-02-11 00:19] nerdrew opened #98 "reverse.detect vs select { ... }.last"
Third approach?

[code]

[code]

[2016-02-11 14:07] dideler commented on #80
Would be nice if a bit more effort went into creating the issue, otherwise the effort that went into benchmarking is wasted as no action will be taken, besides maybe closing the issue.

What are you proposing?

[2016-02-11 14:13] jrunning commented on #80
@dideler: This issue is an accidental duplicate of #81. I thought I had closed this one; I'm doing so now.

[2016-02-11 14:13] #80 closed

[2016-02-11 16:09] nirvdrum commented on #81
I realize this project has a definite MRI slant to it, but I'd be remiss if I didn't mention that JRuby+Truffle can essentially compile away the `respond_to?` call by caching the interior method lookup. It's basically multi-dimensional inline cache and at that point, you get all the speculative optimizations that an inline cache affords. I [presented the work](https://www.youtube.com/watch?v=lRMWw

[2016-02-11 16:13] jrunning commented on #81
@nirvdrum I think that's definitely relevant, though I don't know if this project's maintainers would agree. If it's possible to make Travis run JRuby+Truffle I'd definitely +1 a PR to add it to the [`.travis.yml`](https://github.com/JuanitoFatas/fast-ruby/blob/master/.travis.yml).

[2016-02-11 18:24] PeterCamilleri commented on #98
This test is biased in favor of reverse each because it bails on the first element, 100. A fairer test would be to search for (x % 51) == 0, since we expect to traverse about half the elements on average.

[2016-02-12 19:37] nerdrew commented on #98
Results with `x % 51`

[code]

[2016-02-12 20:59] PeterCamilleri commented on #98
Wow. That sure seems to level the playing field.

[2016-02-24 12:03] iggant opened #99 "inspect vs to_json for simple arrays"
If in array contain just strings can I use inspect instead of to_json

[code]

Can I? Using inspect looks like unnatural but very fast, can some one explain about cons.

[2016-02-24 13:56] nateberkopec commented on #99
If you can be absolutely sure the array contains only strings, numbers and booleans, I guess it would work. More of an app-specific hack though, I don't think it's appropriate for this repository.

[2016-02-24 18:19] ixti commented on #99
As @nateberkopec said, it's app-specific. In some cases it might be OK, in most - just not.
This is definitely out of scope of this repo. If you need faster JSON serializer, you can use [oj](https://github.com/ohler55/oj):

[code]

the above will produce:

[code]

Also, there are in fact a lot more factors which can affect speed of `to_json`.

[2016-02-24 18:19] #99 closed

[2016-03-25 16:59] jondot opened #104 "Benchmark with memory allocations"
Hi all,
I've made a version of `benchmark-ips` that also shows memory allocations: https://github.com/jondot/benchmark-ipsa

It extends `benchmark-ips` by hijacking the `job` object and getting the block list. It does not have any performance implication over the original test session.

This is one step closer to the `go bench` tool which allows you to embed allocation info in addition to the iter

[2016-05-09 15:18] nirvdrum opened #110 "Move away from comparative speed method names"
This is a proposal to move away from method names like `slow`, `fast`, and `fastest` and instead use something named after the operation. The convention is a bit error prone when authoring the benchmark to begin with, since you can't know a priori what the relative speeds are until you've written the benchmarks. Thus, it requires a renaming of the methods after the benchmark is run. It may introdu

[2016-05-09 15:46] nateberkopec commented on #110
I don't think anyone would be against a PR that updated/changed all of the current benchmarks in the way that you propose. 👍

[2016-05-25 00:04] jonathanhefner commented on #96
Something you might also consider is CPU instruction cache.  Although I'm not an expert in the black art of optimizing code for the CPU cache, I do know cached instructions can skew benchmarks.  I typically sidestep this issue by calling the method in question on multiple **different** pieces of data.

To further your first example:
[code]

This results in:
[code]

[2016-05-25 00:21] ixti commented on #96
:clap: :bow: Great work!

[2016-06-03 14:28] hannesfostie commented on #64
@JuanitoFatas I was just running through a project trying to find optimizations, and found something that fit the string concatenation example. I blindly took your results and applied them, basically changing this:

[code]

to this:

[code]

Luckily I am benchmarking everything, so I noticed there's no difference. The reason is fairly obvious of course, as I'm changing the object rather than creat

[2016-06-16 14:47] dideler commented on #82
Hi @jzakiya, can you please resubmit this as a pull request following [these guidelines](https://github.com/JuanitoFatas/fast-ruby/blob/master/CONTRIBUTING.md)? Thanks!

[2016-06-16 14:47] #82 closed

[2016-06-21 07:18] eregon commented on #96
@radarek Sounds like a good way to reduce overhead.
Of course, overhead for Fixnum#+ will always be whatever is around (or it should be billions i/s) :)

`$MethodCall = MethodCall` Why using a global variable here instead of the constant?
I think a constant would be both more practical and convey the fact it does not change.

[2016-06-22 12:28] eregon commented on #96
@radarek I missed that, sorry. This is interesting. I would not count on it for other implementations or future improvements though, reading constants ought to be as good as reading global variables. Global variables are also not the right design tool here.

[2016-06-22 18:46] nateberkopec commented on #96
I don't think so. Constants will always have to go through the lookup chain, because constants can be nested inside of each other, whereas globals will not. This will be true regardless of implementation.

I agree that in normal practice, constants would make more sense, but in the case of benchmarking, we're trying to eliminate as much overhead as possible.

[2016-06-22 19:26] thedarkone commented on #96
AFAIK this is completely backwards for JRuby+Truffle. I think this was an intentional design choice, constants are supposed to be constant (eg redefining a const emits a warning, you can't lexically do `X=1` in normal methods etc.) There are no comparable constraints on globals, therefore JRuby+Truffle emits code that expects globals to change.

Re nesting, I would expect there to be no perf diffe

[2016-06-22 20:06] eregon commented on #96
@nateberkopec

This seems a limitation currently in MRI, but there is no reason why constants cannot have an inline cache too. Then the only difference is a cheap version check.
JIT implementations with deoptimization can actually fold Ruby constants as actual constants in the machine code. Nesting is just a different way to do the lookup, but it should not affect the caching (it  just makes the i

[2016-06-22 20:08] nateberkopec commented on #96
@thedarkone TIL. Paging @chrisseaton on JRuby+Truffle. I thought the way constant lookup worked in Ruby was a language-level limitation, but it looks like it may be wrong!

In any case, if constant lookup and global lookup are equally fast in some implementations, and constant lookup is *slower* in some implementations, we should still use globals.

[2016-06-22 20:27] chrisseaton commented on #96
JRuby+Truffle's constant lookup and caching uses almost exactly the same mechanism and code as method calls, and technically it's perfect as far as I'm aware - it leaves no guards, no checks, no indirection, in the generated code.

JRuby+Truffle's globals however are fields on a hidden globals object. We read them like an instance variable and, as @eregon says, we don't do anything to turn them in

[2016-06-22 20:40] thedarkone commented on #96
@chrisseaton I vaguely remember @pitr-ch changing globals into volatiles (as per proposed mem model). I though my reasoning above is why JRubyTruffle is not speculating on "constant-ness" of globals.

@eregon I would propose treating globals as constants (compilation constant), until proven otherwise (have a mod counter, after 2 or 10 changes switching to repeated volatile reads).

[2016-06-22 20:44] chrisseaton commented on #96
Yes the modification counter is probably the key.

We're also missing the feature in Ruby that lets you hook into globals to observe reads and writes - so we should really dig into the globals implementation in general.

[2016-06-22 21:25] eregon commented on #96
@thedarkone For the memory model, speculating them as constants would still be fine as invalidation is thread-safe (it waits for every thread to throw the compiled code before continuing).

[2016-06-22 22:00] eregon commented on #96
It seems I was wrong about MRI :) There is an inline cache for constants as one would expect:
[code]
Instruction 0004 is the [inline cache](https://github.com/ruby/ruby/blob/2708f9dc7dedc1d4659fe0497d77815477815227/insns.def#L1254-L1258) (but `getconstant` itself has no cache), checking a couple things and jumping to 0011 if it succeeds. This might be a bit more expensive than [getglobal](https://

[2016-09-22 08:47] greyblake opened #117 "Hash#fetch with second argument is slower than Hash#fetch with block is not FAIR"
Hi! First of all thanks for the nice gem! You are doing great work, making thousand of ruby programs run faster!

Now.. the issue)

Offense `Hash#fetch with second argument is slower than Hash#fetch with block`is not fair.

You have this benchamrk: https://github.com/JuanitoFatas/fast-ruby/blob/master/code/hash/fetch-vs-fetch-with-block.rb

[code]

But it's assuming that key is always present. Wha

[2017-01-14 20:59] #11 closed

[2017-01-24 05:28] monfresh opened #120 "Enumerable#sort_by is not always faster than #sort"
Per the Ruby 2.4.0 docs:

Here's a concrete example showing `sort` to be 2.70x faster in Ruby 1.9.3, 2.3.3 and 2.4.0:
[code]
[code]

[2017-01-24 09:31] mblumtritt commented on #120
In your sample you sort the `Array` twice - it's already sorted when the second sample runs. The results may be therefore wrong…

[2017-01-24 16:18] monfresh commented on #120
I don't follow. ARRAY is not mutated. If you call `ARRAY.sort_by(&:length)`, and then call `ARRAY` again, you get the original ARRAY. You can verify this by adding `.freeze` to the end of the ARRAY assignment (`ARRAY = %w(apple pear fig).freeze`)

I get the same results when I change the order of the samples:

[code]

[2017-01-24 16:19] monfresh commented on #120
The code example in this repo also does the same thing: it defines the array to be used in the samples as a constant: https://github.com/JuanitoFatas/fast-ruby/blob/master/code/enumerable/sort-vs-sort_by.rb

[2017-01-25 04:43] avellable commented on #120
@monfresh Thanks for pointing this out. There are two ways to resolve into the current example,

1. Remove [the example](https://github.com/JuanitoFatas/fast-ruby/blob/master/code/enumerable/sort-vs-sort_by.rb)
2. Based on the [API documentation of Ruby](https://ruby-doc.org/core-2.2.0/Enumerable.html#method-i-sort_by), we should update the benchmark report to have more details.

[2017-01-25 08:48] mblumtritt commented on #120
@monfresh Sorry - I used in my local sample `sort!` and `sort_by!` and did ignore your code details. Sorry …

[2017-04-14 14:55] AlexWayfer opened #123 "Remove `String#casecmp` part"
The `String#casecmp` method does not work with Unicode (even in Ruby 2.4.1), this is written in the [documentation](http://ruby-doc.org/core-2.4.1/String.html#method-i-casecmp).

Example:

[code]

There is a method `String#casecmp?`, which [works with Unicode](http://ruby-doc.org/core-2.4.1/String.html#method-i-casecmp-3F).

Example:

[code]

But `String.casecmp?` is slower:

[code]

<details>
  <

[2017-07-10 10:19] FunkyloverOne opened #129 "(arr1 - arr2) != arr1 vs (arr1 - arr2).length != arr1.length"
Hi, this could be a silly question, as it looks like comparison by length should be faster... I just want to make sure :)

For example you need to check if `arr1` includes any elements of `arr2`. So you can check either if `(arr1 - arr2) != arr1` or `(arr1 - arr2).length != arr1.length`.

[2017-07-25 14:47] #129 closed

[2017-08-17 11:10] ashmaroli opened #130 "instance_variable vs attr-* method"
Would like this comparison to be documented as well.
Thanks

[2017-08-26 20:50] ydakuka opened #131 "present? VS any? VS empty? VS exists?"
It's a good idea for this comparison to be documented as well.

[link](https://semaphoreci.com/blog/2017/03/14/faster-rails-how-to-check-if-a-record-exists.html)

[2017-08-26 21:02] nateberkopec commented on #131
I don't think this repo has any Rails-specific comparisons.

[2017-08-26 21:04] #131 closed

[2017-10-17 18:20] seanabrahams commented on #117
Have to agree. Here's some output from ruby 2.3.4p301 which has the block format slower on my machine:
[code]

[2017-10-20 18:02] stereobooster commented on #6
Another article https://samsaffron.com/archive/2017/10/18/fastest-way-to-profile-a-method-in-ruby. Adding it here to not open new issue

[2017-10-20 18:04] stereobooster commented on #104
never heard of this. I'm using `benchmark-memory`. Like this https://github.com/JuanitoFatas/fast-ruby/pull/137/files

[2017-10-20 18:18] stereobooster commented on #96
Another type of overhead is unintentional allocations, like this

[code]

Those objects can trigger GC, which will make benchmark slower

[2017-10-23 23:38] stereobooster commented on #6
there is also https://rubybench.org/

[2017-11-03 15:07] #70 closed

[2018-04-11 22:56] parkerfinch commented on #98
I'd propose replacing `reverse.detect` with `reverse_each.detect` in the comparison, rather than adding it as a third option, for all the reasons listed in the [reverse.each vs reverse_each section](https://github.com/JuanitoFatas/fast-ruby#enumerablereverseeach-vs-enumerablereverse_each-code).

If there's support behind this, I'm happy to whip up a PR for it!

[2018-04-27 15:06] kbrock commented on #123
maybe a compromise here is to have `String#casecmp (no unicode support)`

so we have the comparison, but the problem is front and center?

[2018-04-27 15:09] kbrock commented on #93
just create a pr for this or close?

[2018-04-27 15:14] kbrock commented on #95
:+1: does it make sense to just convert this into a PR - seems easier for the maintainers to just click merge.

also noticed that e2mmap has no readme and last changed in 2013

[2018-04-27 15:15] kbrock commented on #5
can this be closed now that travis is active?

[2018-04-27 15:16] AlexWayfer commented on #123
What? I think guides should promotes international (Unicode) ways, not ASCII-only (read as English-only).

[2018-04-27 15:17] kbrock commented on #5
I think this project is here to show what is faster, not the actual speed.
So running on different hardware across runs is ok as long as people are not comparing the various runs

[2018-06-12 19:05] alekseyl opened #158 "String concat contains dummy comparision."
You are doing your test without any randomization and length variety, so results are incorrect completely.

You simply just testing how fast are 'foo' and 'bar' concatenation, and only

Live case scenario looks more like this:

# strings length = ( 100 + rand( 100 ) ), i.e. short strings max difference around double

String#append:   439150.7 i/s
            String#+:   419672.1 i/s - same-ish: di

[2018-06-12 20:10] nirvdrum commented on #158
Pull requests are always appreciated. The problem with randomized data, of course, is that you don't get reproducible results. At the very least, the seed should be specified so results could be deterministic, IMHO.

[2018-06-13 06:18] alekseyl commented on #158
Randomization must be appropriate to the test, in that case results are reproducible

[2018-06-14 10:32] ydakuka opened #159 "!false VS false == false"

[2018-06-14 19:39] nirvdrum commented on #159
I'm confused by the issue. Are you looking to file a pull request?

[2018-06-14 19:43] ydakuka commented on #159
Now it is just an idea.

[2018-07-21 15:33] nirvdrum commented on #123
Many use cases are ASCII-only. I think it's still valid to retain benchmarks for those situations. Ruby even provides `String#ascii_only?` to help guard such cases.

As an addendum, every Ruby implementation optimizes for ASCII. It's not a value statement. It's just that ASCII characters are byte wide, which makes optimizing for them very easy. UTF-16 and UTF-32 are also somewhat optimized given t

[2018-10-30 08:08] eclemens commented on #117
The same for me using ruby-2.4.4p296

[code]

[2018-10-31 01:09] ixti commented on #117
`Hash#fetch` with second arg being a constant is known to be the fastest way. It was [already discussed](https://github.com/JuanitoFatas/fast-ruby/issues/39#issuecomment-103989335) and actually has a pretty clear [disclaimer/explanation](https://github.com/JuanitoFatas/fast-ruby#hashfetch-with-argument-vs-hashfetch--block-code):

[2018-10-31 01:09] #117 closed

[2018-12-17 14:11] hvenables opened #165 "Array#concat vs Array#+"
[code]
[code]

Happy to make a PR if you want this added

[2018-12-17 16:17] wasifhossain commented on #165
Hi @hvenables do you think the above benchmark could also include `<<` and `push`. The benchmark is also quite interesting:

[code]
[code]
[code]

[2018-12-17 16:36] hvenables commented on #165
The case i had was where i wanted to put two arrays together (each array had more than one item in the array) I just used the above examples for simplicity. The examples you stated above could only be for a single item being pushed into an array unless it was flattened after which i will add

[2018-12-17 16:51] hvenables commented on #165
So i have changed it to add a 10 element array to an existing array

[code]
[code]

[2018-12-17 18:07] wasifhossain commented on #165
aha! now I get your context :+1: thanks for the clarification.
In that case, your first example looks much better given that you mention about the context :)

[2018-12-18 18:03] ixti commented on #165
I'm not sure why comparing destructive ops to non-destructive ones in a first place, but at least `push_flatten` and `append_flatten` should call `flatten!` after adding all the elements.

[2018-12-18 18:21] hvenables commented on #165
Yeah tbh i added them after the comments above but i think the first example should be the one to be used i dont see `push_flatten` or `append_flatten` as real answers to the problem

[2018-12-19 00:05] ixti commented on #165
My biggest concern is that `+` and `concat` are actually serving different purposes. `+` creates new array, while `concat` modifies in-place. So the comparison to me seems as good as comparing `Hash#dig` to `IO#read` (also serve different purposes). :D

[2018-12-19 18:36] ixti commented on #165
In fact I think we can have this but with bold statement on difference.

[2018-12-21 15:22] mikegee commented on #165
Users might be aware of the difference between creating a new array versus modifying it in-place, as long as their code behaves correctly. This benchmark seems valuable to me.

[2019-02-13 03:39] dukaev opened #169 "Refactoring code"
I noticed that many exapmples in `code/` do not match the template.
[code]

[2019-02-19 15:06] gogainda opened #171 "Rerun all examples with lastest Ruby"
I believe some examples could be non relative anymore with the latest Ruby version. We should rerun all examples and update the results

[2019-06-24 07:47] #69 closed

[2019-08-15 12:28] abuisman commented on #120
I just ran into a situation where `sort_by` is not faster, per se, in fact 2.95x slower. But it has something to do with the number of items in the array.

[code]

Yields

[code]

This is with 2 items in the result. When I bump this to 100:

[code]

Apparently there is a correlation between the number of items and the performance difference, which makes sense of course. Adding items to the array b

[2019-11-13 11:34] rubyFeedback opened #177 "Gemify fast-ruby?"
Would it be possible to gemify fast-ruby and also add contributors?

The idea would be to have a gem that just focuses on "fast ruby" in general, also on rubygems.org, not just on github alone. Not sure if this is wanted but I'll just add this issue here, feel free to proceed how you wish to past this point. :)

[2019-11-13 11:58] mPanasiewicz commented on #177
Here you are something similar. Almost the same rules
https://github.com/DamirSvrtan/fasterer

[2020-07-01 05:34] ParadoxV5 commented on #177
“Fast Ruby” is just an online collection of fast(er) strategies, so I don’t think this makes a good Gem which would rather be expected to provide utility.
There’s https://github.com/DamirSvrtan/fasterer, of course.

[2020-07-01 05:36] ParadoxV5 commented on #171
I’ll see how many 👍’s we get before Christmas 2022 (AKA Ruby 3.0! 🎉)

[2020-08-20 14:52] AlexWayfer opened #185 "`String#match` vs `String#scan`"
Hello.

These methods are pretty similar.

I've done some benchmarks and figured out that `match` is twice faster than `scan`.

I can try to make a PR, but not sure do we need for it here.

[2020-08-20 22:04] ParadoxV5 commented on #185
Friendly reminder: `String#match` outputs a `MatchData` while `String#scan` outputs an `Array`.

[2020-08-20 22:34] AlexWayfer commented on #185
Yes, but they're similar, but an outside code will be different for the same input data (`String` and `Regexp`). But the point of comparison of these approaches is they complete the similar goal.

[2020-09-21 19:33] corsonknowles commented on #98
Yes, `reverse_each.detect` and `reverse_each.any?` are going to be more performant than `select.last` or `reverse.detect`.
This is even documented in another benchmark on the same page. But reference material by definition usually means you look at the one relevant entry.

It's worth an update!

[2020-12-23 02:20] marcandre opened #189 "Encourage `Hash#compare_by_identity`"
If one is using keys that can be compared by identity, and if those keys are not already optimized (symbols are optimized, not sure what else is), using `compare_by_identity` can yield a 4x speedup (when a lookup is successful).

[code]

[code]

[2020-12-23 21:31] marcandre commented on #189
Can be optimized... https://github.com/ruby/ruby/pull/3987

[2020-12-29 17:46] marcandre commented on #189
In Ruby 3.0+, the performance difference will still exist but won't be as noticeable.

[2021-01-27 15:55] eregon opened #190 "Separating benchmarks with different complexity and benchmarks with just variants"
Hello there,
I think it would be worthwhile to separate the example in two categories:
* Benchmarks which are faster due to the variants having different complexity (for example, https://github.com/JuanitoFatas/fast-ruby#arraybsearch-vs-arrayfind-code). Those I believe will remain with a clear advantage for one of the variants for a long time.
* Other benchmarks, where the difference is minimal, a

[2021-02-22 05:04] emyatsuna opened #191 "Rubocop says use delete instead of sub"
Hi,

I need to cleanup my pipeline rubocop syntax error. It is complaining with the replacement of empty of blank in my string. The `.gsub` function works when tested but rubocop is not accepting it and my syntax in pipeline failed. I've checked and I can only use the `.delete_prefix` and `.delete_suffix` functions. Is there a way to use the delete funtcion as deleting all characters '`/`' inside

[2021-02-22 06:23] kotp commented on #191
Why not:

[code]

[2021-02-22 07:01] emyatsuna commented on #191
thanks @kotp ! That worked. My pipeline is not complaining about syntax errors via rubocop and the code still works.

[2021-02-22 07:01] #191 closed

[2021-02-22 07:14] kotp commented on #191
You are welcome.  Don't forget that you can always, even selectively, change Rubocop's opinion.  See my answer on [stack overflow](https://stackoverflow.com/a/26350879/485864) to see some examples.

[2021-03-04 00:50] alejandrobabio opened #192 "Array#find & Array#bsearch are not interchangeable"
A simple example with a sorted array:

[code]

[2021-05-03 19:35] delucas commented on #192
[code]

[2021-05-08 18:13] alejandrobabio commented on #192
After reading the `Array#bsearch` docs I understood that it doesn't work with an equal condition, and the block could need to be rewritten to match the `bsearch` requirements. So, I close this issue.

[2021-05-08 18:13] #192 closed

[2021-08-06 07:16] manjunath724 opened #194 "Fast Ruby for hash_update_vs_hash_brackets"
**Hash.update** is an alias for **Hash.merge!**

Currently we have `merge_bang_vs_[]=` which suggests that  **Hash#[]=** is faster and **Hash#merge!()** is slower.
But we dont have any suggestions for `update_vs_[]=` i.e., **Hash#update()** vs **Hash#[]=**.

[code]

[code]

Can we extend this to Hash.update()?

[2021-10-16 20:26] etagwerker opened #196 "e2mmap benchmark is not working (missing gem) in Ruby 3.0.x"
Hi there,

At the moment this benchmark is not working:

[code]

The solution would be to add this to the Gemfile:

[code]

It seems that that benchmark might not be wanted in this project. After all, it is comparing Ruby vs. using the e2mmap gem. See: https://github.com/JuanitoFatas/fast-ruby/issues/95

I'm going to submit a PR removing that scenario, which should fix this issue. 😄

[2021-10-16 20:29] etagwerker commented on #95
At the moment that particular benchmark is failing (#196) with Ruby 3.0.2, so I went ahead and submitted a PR to remove it from this repo: https://github.com/JuanitoFatas/fast-ruby/pull/197

[2021-12-31 15:58] scooler commented on #96
I guess this is a bit stale for me, in terms of topics, but I didn't want to create a new one.
This example IMO is also a bit misleading: https://github.com/JuanitoFatas/fast-ruby#normal-way-to-apply-method-vs-method-code

The difference claimed (4x) goes down quite a when you remove the `method` call. (for me it went from 2.58x to 2.17x) for:
[code]
I guess the above suffers from the issue descri

[2022-02-23 18:07] AlexWayfer opened #199 "Is this project abandoned?"

[2022-07-06 15:28] arielj opened #201 "Method call in a block could compare to `&:method_name` too"
This test https://github.com/fastruby/fast-ruby/blob/master/code/general/block-apply-method.rb is comparing:

[code]

We could have one more test:

[code]

Also, I think the names `fast` and `slow` shound be used for the methods, the names should describe what the method does, not which one is faster?

[2022-07-06 16:16] arielj opened #202 "[FEATURE REQUEST] Run all the benchmarks on CI"
We could use github actions and a matrix to run the benchmarks on CI and with different rubies. That way we could compare what the readme shows with what CI shows and compare results between different rubies too for the same benchmark since some of these things may change if ruby optimizes something.

There is a travis configuration but the link is broken. We could use GitHub Actions instead.

[2022-07-11 13:07] arielj opened #204 "[FEATURE REQUEST] Rename main branch to `main`"
Things to ensure:

- the default branch is `main`
- instructions to configure the default as `main` are clear for a developer that was already using `master`
- CI job is updated
- links in the readme are updated (using `HEAD` instead of `master` or `main` seems to be the most maintanable option since it will be the lasters commit on the default branch even when the default changes)

[2022-07-11 13:21] arielj opened #205 "[DOCUMENTATION] It's not 100% clear how to contribute new benchmarks"
There's this CONTRIBUTING file with some details https://github.com/fastruby/fast-ruby/blob/master/CONTRIBUTING.md

But I still have questions that I think it's worth documenting:
- The README says `All results listed in README.md are running with Ruby 2.2.0p0 on OS X 10.10.1. Machine information: MacBook Pro (Retina, 15-inch, Mid 2014), 2.5 GHz Intel Core i7, 16 GB 1600 MHz DDR3. Your results may

[2022-07-11 13:28] arielj opened #206 "[FEATURE REQUEST] Use the project's WIKI to share results for each Ruby version with latest CI results"
Currently, the results are in the README file, but all numbers are from one specific ruby version. Trying to add information for more rubies can make the README a mess and super large to follow.

Maybe another option is to use the Wiki of the project creating one page with the results for each Ruby that's tested, and then use a github action to update the results there so each page is always autom

[2022-07-11 14:08] Joshfindit commented on #206
I like the core concepts here, and think there might be an easier option:

Store the results as .md (and json/yaml) files in the filesystem, with the folder as the Ruby version number.

That would give the following benefits:
1. The wiki could canonically link to the folder
2. Since it could be stored as `results/version/README.md`, github would display the rendered markdown when users navigate th

[2022-07-11 14:20] etagwerker commented on #206
We might be able to leverage benchmark.fyi which is an OSS Rails app that stores benchmark-ips results.

I've submitted a PR that shares the results to https://ips.fastruby.io (powered by benchmark.fyi) -- you can see it here: https://github.com/fastruby/fast-ruby/pull/203

One enhancement that I'd like to add to benchmark-ips and benchmark.fyi is more contextual information:

- Ruby version
- OS

[2022-07-11 14:31] #204 closed, assigned to nobody

[2022-07-12 07:28] #202 closed

[2022-07-12 07:36] etagwerker opened #207 "[CHANGE] Share of results should only happen when running GitHub Actions in the `main` branch"
#203 moved the benchmarks from Travis CI to GitHub Actions CI. It also started sharing results to https://ips.fastruby.io (which is an instance of [benchmark.fyi](https://github.com/fastruby/benchmark.fyi)) for every commit to a PR and every push to main.

For example:

<img width="1075" alt="Screen Shot 2022-07-12 at 9 33 20 AM" src="https://user-images.githubusercontent.com/17584/178434747-63450

[2022-08-12 14:31] #165 closed

[2022-08-31 16:27] schneems opened #208 "Parallel versus sequential assignment is microbenchmark (not representative) and scales with number of inputs"
Update: Parallel assignment doesn't allocate unless it's the last statement in a method/proc. There's a benchmark provided below. I'm

I think this benchmark https://github.com/fastruby/fast-ruby/blob/main/code/general/assignment.rb needs to be removed or at least heavily annotated on the readme. It is not representative of real code. In my experience, removing parallel assignments into sequential

[2022-08-31 16:48] eregon commented on #208
But only because the code you used is:
[code]
Can you try with:
[code]

Then there should be no extra  array allocation.
And in fact the first benchmark's results almost prove there is no extra array, otherwise we'd see a significant slowdown.

I agree measuring with 2 elements is more representative.

I think the conclusion should be: sequential/parallel assignments are basically the same speed.

[2022-08-31 16:52] eregon commented on #208
Quick numbers:
[code]

With the `nil`s uncommented:
[code]
So it's the same speed (and sequential is not any faster for this case, it'd just be noise).

With the `nil`s commented:
[code]
As expected Sequential is much faster here, because Parallel must do an array allocation with the Parallel Assignment as last expression.

[2022-08-31 16:54] eregon commented on #208
And with MemoryProfiler:
[code]

[2022-08-31 17:08] eregon commented on #208
I believe that's just noise or too small to matter. I ran it 3 times locally, and the first I got Sequential 1.02x slower, 2nd and 3rd run `same-ish: difference falls within error`. The many allocations (BTW, 2 per element since no `frozen_string_literal`) completely bury the costs of the assignments, so that makes the benchmark a bit useless because it's mostly measuring those String allocations

[2022-08-31 17:14] eregon commented on #208
To illustrate this point, we can use `ruby --dump=insns assign.rb` on the original benchmark:
[code]
So it's literally the same instructions, just in a slightly different order in CRuby 3.1.2.
Which then makes it a little bit surprising why we can even see Parallel Assignment faster (maybe some better cache locality or maybe consecutive instructions are done slightly better?).

[2022-08-31 17:31] schneems commented on #208
I understand the limits of the measurements and statistics. I'm able to detect a 1% request speedup with 99% confidence in a Rails app end to end. Via derailed https://github.com/zombocom/derailed_benchmarks/blob/0102612a9915179abca304ad0392aa84ed6bdf0e/lib/derailed_benchmarks/stats_from_dir.rb#L143-L165.

I generally try annotating with things like `(but within error)`. But sometimes I miss a few

[2022-09-19 21:23] mateusdeap commented on #5
Closing this issue since it has been implemented.

[2022-09-19 21:23] #5 closed

[2022-09-19 22:55] mateusdeap commented on #16
Closing this for now, but I suppose we can revisit this in the future?

[2022-09-19 22:55] #16 closed

[2022-09-27 01:15] mateusdeap commented on #19
So, I'm not sure what should be done here. Maybe we export this json with our test runs?

An alternative is to create a command that exports this data so that other libs can possibly call it.

Finally, this issue has been around for so long without conclusion that maybe it's not worth the trouble? At least for now. I like the motivation, which is why I think it'd be interesting to expose some sort

[2022-09-27 01:19] mateusdeap commented on #22
I wonder in which category this should go into? Any opinions, @ashwinisukale ?

[2022-09-27 11:46] mateusdeap commented on #27
I'll be taking this

[2022-10-01 00:58] KostiantynPopovych commented on #43
Hey @gogainda, if you are still interested in this, can you add it please, if you don't mind?

[2022-10-01 01:01] #45 closed

[2022-10-01 12:27] gogainda commented on #43
Hi, sorry, dont have capacity for that right now. Pasting here code which should be adopted for fast-ruby project:
[code]

[2022-10-10 17:57] #53 closed

[2022-10-10 18:04] mateusdeap commented on #92
Seems to me this is a weird case as well. A Hash is a data structure whereas `case` is a control flow method. Although you could use them for the same purposes, if you want to just return some constant value for a given argument, that sounds like you want a Hash or a list of constants. It'd be weird to use a `case` statement for that.

Since the issue is quite old and the use case seems to be more

[2022-10-10 18:04] #92 closed

[2022-10-10 18:48] inbdra commented on #92
Tutup ini sebagai pembelajaran buat kedepan nya

[2022-10-10 18:49] mateusdeap commented on #94
Given the arguments put forth, I agree this benchmark should be removed. I will submit a PR shortly.

As for what gets into the repo, we also need to make things more uniform so that the benchmarks are more reliable.

It might be a while before that since we're trying to first clean out the repository of old issues.

[2022-10-11 08:48] ashwinisukale commented on #19
@mateusdeap agree, idea is nice, need to check if we already have any export functionality and if we have then we can add one more option or command in it to get the data.

[2022-10-11 08:50] inbdra commented on #19
Oke

Pada tanggal Sel, 11 Okt 2022 15.48, Ashwini Sukale <
***@***.***> menulis:

[2022-10-11 11:10] ashwinisukale commented on #201
@arielj I guess name `fast` and `slow` just indicate which way is faster. In this case if we should not use `&method` because its slower.

[2022-10-11 11:44] ashwinisukale commented on #169
I found following code examples where we are not following the template

https://github.com/fastruby/fast-ruby/blob/main/code/enumerable/sort-vs-sort_by.rb - Here instead of faster and fastest, can we say fast and faster

https://github.com/fastruby/fast-ruby/blob/main/code/hash/keys-include-vs-key.rb - Can we change method name to slow and faster, as we are following same template for all our exa

[2022-11-03 18:16] mateusdeap commented on #81
For now we're trying to tidy up the project, but we can definitely look into providing benchmarks using other ruby implementations.

Closing this since the PR has been merged.

[2022-11-03 22:07] mateusdeap commented on #104
So, should we add this? @ashwinisukale What do you think?

[2022-11-03 23:38] mateusdeap commented on #93
So... I ran this benchmark using ruby 3 and there really wasn't much of a difference. Here's the script I ran:

[code]

[2022-11-03 23:55] mateusdeap commented on #158
Hmm this is interesting, actually. Although if we're going to randomize things, I also do believe we'd need things to be averaged out.

Did you test multiple runs of your code, @alekseyl?

Also, if you can, feel free to open a PR and we can continue discussions there.

[2022-11-04 00:10] mateusdeap commented on #159
Not sure if this makes much sense... saying `false == false` in a codebase is just confusing.

[2022-11-04 00:10] #159 closed

[2022-11-04 00:22] mateusdeap commented on #123
I agree with @kbrock and @nirvdrum. There's no good reason to restrict things to UTF-8 because all things should be international. They should follow the actual use cases.

@AlexWayfer do you think you can edit your PR to keep the old `casecmp` entry and add the case that is compatible with UTF-8?

[2022-11-04 03:15] AlexWayfer commented on #123
The strings in Ruby are UTF-8 by default.

Do you know about Ruby's `# encoding: UTF-8` magic comment? It's not here anymore because of the changed default.

I think it's a very good reason.

And rules about different non-clear use cases should not exist, at least be turned off by default (if we're talking about linting).

I can, but I don't want. For what? The suggested "by international communit

[2022-11-04 11:44] ashwinisukale commented on #104
Yeah, its good idea to have this

[2022-11-05 06:37] nirvdrum commented on #123
To clear up confusion, `String#casecmp` works fine with UTF-8 strings. What it ignores is non-ASCII characters. You can check if a string consists only of ASCII data via `String#ascii_only?`. This boils down to Ruby's Unicode case mapping support. `String#casecmp` should arguably take the case mapping options that `String#downcase` or `String#upcase` do. It implicitly works like `String#downcase(:

[2022-11-06 00:10] #207 closed

[2022-11-06 00:12] #94 closed

[2022-11-06 17:26] etagwerker commented on #110
Sounds good, we can continue the discussion in #215

[2022-11-06 17:26] #110 closed

[2022-11-07 12:21] mateusdeap commented on #177
Yeah. I'll close this issue as I also see this more as a collection of idioms rather that a gem. But it can definitely be discussed wether functionality can or should be added.

[2022-11-07 12:21] #177 closed

[2022-11-07 18:53] mateusdeap commented on #185
@AlexWayfer If you're still interested in this, feel free to open a PR. All you need to do is follow the guidelines in the (CONTRIBUTING.md)[https://github.com/fastruby/fast-ruby/blob/main/CONTRIBUTING.md].

[2022-11-12 09:52] alekseyl commented on #158
Hi @mateusdeap, here is the PR for you guys to review and check on your own: https://github.com/fastruby/fast-ruby/pull/216/files